{% extends 'basic.html' %}

{% block title %}
Search
{% endblock title %}

{% block body %}
<div class="container" my-3>
    <h3>Search Results....</h3>
    {% if allposts|length < 1 %}
    Your Search <b>{{query}} </b> did not match any information


    <br>
    Suggestions:
    <ul>

    <li>
    Make Sure That All Words Are Spelled Correctly
    </li>

    </ul>
    {% endif %}

    {% for post in allnotes %}

    <div class="row no_gutters border rounded
    overflow-hidden flex-md-row mb-4 shadow-sm h-md-250
    position-static">
<div class="col p-4 d-flex flex-column
position-static">
<strong class="d-inline-block mb-2 text-primary">{{post-title}}</strong>

<a href="{{post img url}}"> <img src="{{post img url}}"  class="img=fluid" height="500px" width="500px" alt=""></a>
<br>

<h6 class="d-inline-block mb-2 text-sucess">Posted By : {{post.author}}</h6>

<div class="mb-1 text-muted"><b>{{post.timeStamp}}</b></div>
<p class="card-text mb-auto">{{post.content}}</p>
<div class="my-2"></div>
</div>
</div>
<div class="col-auto d-none d-lg-block">
</div>

    
    
    
    
    {% endfor %}

</div>
{% endblock body %}